.App {
  text-align: center;
	background: #dde1e7;
}

.country {
  width: 100%;
	background: #dde1e7;
	border-radius: 5px;
	box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.country img {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 25%);
}

.country button {
	background: #dde1e7;
	border-radius: 5px;
	box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}

.c_custom {
    max-width: 1440px !important;
}